/* THEME */
:root {
  /* --siteMaxWidth: 1440px; */
  --sitePadding: 2rem;
  --navWidth: 30rem;
  --navHeaderHeight: 8rem;
  --navPadding: 1rem;
  --navTransition: 0.5s ease;

  --fontBeaufort: "Beaufort For LOL", "Times New Roman", "Georgia", "Garamond", "Times", "serif";
  --fontSpiegel: "Spiegel", "-apple-system", "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue",
    "helvetica", "Cantarell", "Ubuntu", "roboto", "noto", "arial", "sans-serif";

  /* Palette */
  --clrBlue1: hsl(180, 82%, 89%);
  --clrBlue2: hsl(175, 90%, 41%);
  --clrBlue3: hsl(187, 97%, 34%);
  --clrBlue4: hsl(198, 100%, 25%);
  --clrBlue5: hsl(192, 71%, 14%);
  --clrBlue6: hsl(219, 63%, 10%);
  --clrBlue7: hsl(220, 60%, 10%);

  --clrRed1: hsl(0, 82%, 89%);
  --clrRed2: hsl(0, 90%, 41%);
  --clrRed3: hsl(0, 97%, 34%);
  --clrRed4: hsl(0, 100%, 25%);
  --clrRed5: hsl(0, 72%, 14%);
  --clrRed6: hsl(0, 65%, 10%);
  --clrRed7: hsl(0, 61%, 10%);

  --clrGold1: hsl(40, 50%, 88%);
  --clrGold2: hsl(40, 45%, 61%);
  --clrGold3: hsl(40, 45%, 61%);
  --clrGold4: hsl(41, 56%, 51%);
  --clrGold5: hsl(38, 50%, 31%);
  --clrGold6: hsl(42, 56%, 18%);
  --clrGold7: hsl(30, 25%, 16%);

  --clrGrey1: hsl(45, 10%, 59%);
  --clrGrey1p5: hsl(48, 3%, 35%);
  --clrGrey2: hsl(240, 4%, 25%);
  --clrGrey3: hsl(210, 14%, 14%);
  --clrGreyCool: hsl(200, 20%, 15%);
  --clrHextechBlack: hsl(210, 90%, 4%);

  --clrText: var(--clrGrey1);
  --clrTextMuted: var(--clrGrey1p5);
  --clrHeading: var(--clrGold1);
  --clrSubheading: var(--clrGold4);

  --clrBg: var(--clrHextechBlack);
  --clrBg2: var(--clrBlue6);
  --clrBorderMuted: var(--clrGrey3);
  --clrBorderGoldIdle: var(--clrGold6);
  --clrBorderGoldActive: var(--clrGold4);
  --clrBorderRadial: radial-gradient(circle at top, var(--clrGold4), var(--clrGold5));

  --clrMainActionBg: linear-gradient(to bottom, var(--clrBlue7), var(--clrBlue3));
  --clrMainActionBorder: linear-gradient(to bottom, var(--clrBlue3), var(--clrBlue2));
  --clrMainActionInnerGlow: hsl(from var(--clrBlue3) h s calc(l + 10));
  --clrMainActionActive: var(--clrBlue5);

  --clrRedActionBg: linear-gradient(to bottom, var(--clrRed7), var(--clrRed3));
  --clrRedActionBorder: linear-gradient(to bottom, var(--clrRed3), var(--clrRed2));
  --clrRedActionInnerGlow: hsl(from var(--clrRed3) h s calc(l + 10));
  --clrRedActionActive: var(--clrRed5);
}
/**/
/* CORE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus-visible {
  outline: 1px solid var(--clrBorderGoldActive);
}
html {
  font-family: var(--fontSpiegel);
  font-size: 62.5%;
  color: var(--clrText);
  background: var(--clrBg);
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
body {
  height: 100dvh;
  font-size: 1.6rem;
  overflow: hidden;
}
#root {
  height: 100%;
  padding: 1.6rem;
  overflow: hidden;
}
main {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/**/
/* NORMALIZE */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontBeaufort);
  font-weight: 700;
  color: var(--clrHeading);
  text-transform: uppercase;
}
img,
svg {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
/**/
/* DRAFT */
#draft {
  display: grid;
  grid-template-columns: minmax(0, 30rem) minmax(0, auto) minmax(0, 30rem);
  gap: 1.6rem;
}
#team-blue,
#team-red {
  padding-top: 2.4rem;
}
.ban-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
}
#team-red .ban-row {
  justify-content: flex-end;
}
.ban-row div {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid var(--clrGreyCool);
}
.ban-row img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.pick-row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
}
.pick-row .doing {
  font-size: 1.4rem;
}
.pick-row-image-wrapper {
  width: 6.4rem;
  height: 6.4rem;
  border: 0.2rem solid var(--clrTextMuted);
  border-radius: 999rem;
  background: var(--clrBg);
  overflow: hidden;
}
.pick-row img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: scale(1.15);
}
.pick-row > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
#team-blue .pick-row {
  border-left: 0.8rem solid transparent;
  &.pending-action {
    color: var(--clrGold4);
    border-color: var(--clrBlue3);
    animation: glowIn 1s ease-out;
  }
}
#team-red .pick-row {
  justify-content: flex-end;
  border-right: 0.8rem solid transparent;
  & span {
    text-align: right;
  }
  &.pending-action {
    border-color: var(--clrRed1);
    color: var(--clrGold4);
    animation: glowIn 1s ease-out;
  }
}
@keyframes glowIn {
  0% {
    border-color: #ffffff;
  }
}
.pick-row .cName {
  font-family: var(--fontBeaufort);
  font-weight: 700;
  text-transform: uppercase;
}
.pick-row-video {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
#team-blue .pick-row-video {
  left: 0;
  mask: linear-gradient(to right, black 0%, black 70%, transparent 100%);
  -webkit-mask: linear-gradient(to right, black 0%, black 70%, transparent 100%);
}
#team-red .pick-row-video {
  right: 0;
  mask: linear-gradient(to left, black 0%, black 70%, transparent 100%);
  -webkit-mask: linear-gradient(to left, black 0%, black 70%, transparent 100%);
}
.pick-separator {
  position: relative;
  display: block;
  width: calc(100% - 1.6rem);
  height: 0.1rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clrTextMuted);
  }
  &::after {
    content: "";
    position: absolute;
    transform: translate(-100%, -50%) rotate(45deg);
    top: 0.5px;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid var(--clrTextMuted);
  }
}
#team-blue .pick-separator {
  margin-left: auto;
  &::before {
    mask: linear-gradient(to right, black 0%, black 50%, transparent 100%);
    -webkit-mask: linear-gradient(to right, black 0%, black 50%, transparent 100%);
  }
}
#team-red .pick-separator::before {
  mask: linear-gradient(to left, black 0%, black 50%, transparent 100%);
  -webkit-mask: linear-gradient(to left, black 0%, black 50%, transparent 100%);
}
#team-red .pick-separator::after {
  left: unset;
  transform: translate(100%, -50%) rotate(45deg);
  right: 0;
}
#center {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  flex-shrink: 0;
  font-family: var(--fontBeaufort);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clrHeading);
  text-align: center;
  padding: 1.6rem 3.2rem;
}
header h2 {
  font-size: 3.2rem;
}
header span {
  font-size: 4.8rem;
}
#champion-controls {
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem 0.4rem 3.2rem;
}
#champion-controls > button {
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.4rem;
  &:not(.active) {
    filter: grayscale(1) brightness(0.7);
  }
}
#champion-controls svg {
  width: 100%;
  height: 100%;
}
#search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
#search-wrapper > svg {
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0.8rem;
  pointer-events: none;
  z-index: 1;
}
#champion-controls input {
  width: 20rem;
  height: 100%;
  padding: 0.4rem 3.2rem;
  color: inherit;
  border: 1px solid var(--clrBorderGoldIdle);
  background: var(--clrBg);
  outline: none;
  &::placeholder {
    color: var(--clrTextMuted);
  }
  &:focus {
    border-color: var(--clrBorderGoldActive);
  }
}
#search-wrapper button {
  position: absolute;
  right: 0.8rem;
  width: 1em;
  height: 1em;
  z-index: 1;
}
#champion-list-wrapper {
  flex-grow: 1;
  position: relative;
  padding: 0 3.2rem;
  overflow: hidden;
}
#champion-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 3.2rem;
  height: 100%;
  align-content: start;
  padding: 1.6rem 0;
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid var(--clrBorderGoldIdle);
  border-bottom: 1px solid var(--clrBorderGoldIdle);
  overflow: hidden scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#champion-list button {
  position: relative;
  border: 1px solid var(--clrTextMuted);
  aspect-ratio: 1;
  &:disabled {
    /* TODO Add a little thing on the bottom later */
    filter: grayscale(1) brightness(0.5);
  }
}
.theme-banning #champion-list button.selected {
  border-color: var(--clrRed1);
}
.theme-picking #champion-list button.selected {
  border-color: var(--clrGold4);
}
#champion-list button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#champion-list button span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.4rem;
}
#scrollbar-track {
  --trackWidth: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--trackWidth);
  height: 100%;
  z-index: 10;
  &.scrollbarTrackTouch {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}
#scrollbar-thumb {
  width: 100%;
  min-height: 4rem;
  background: var(--clrGold5);
  border-radius: 999rem;
  &.thumbTouch {
    transition: transform 0.1s ease-out;
  }
}
.champion-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 3.2rem;
  height: 100%;
  padding: 1.6rem 0;
  text-align: center;
  white-space: nowrap;
  border-top: 1px solid var(--clrBorderGoldIdle);
  border-bottom: 1px solid var(--clrBorderGoldIdle);
  overflow: hidden scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
#center-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.6rem 3.2rem;
}
.btn-primary-action {
  position: relative;
  width: 20rem;
  padding: 0.2rem;
  font-family: var(--fontBeaufort);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: filter 0.2s ease, color 0.2s ease;
  outline: none;
  &:disabled {
    filter: grayscale(1) brightness(0.5);
  }
  &:not(:disabled) {
    &:hover,
    &:focus-visible {
      filter: drop-shadow(0 0 0.3rem white);
    }
    &:active {
      color: var(--clrMainActionActive);
      filter: none;
    }
  }
}
.theme-banning .btn-primary-action:not(:disabled):active {
  color: var(--clrRedActionActive);
}
.btn-primary-action::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--clrMainActionBorder);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: background 0.2s ease;
}
.theme-banning .btn-primary-action::before {
  background: var(--clrRedActionBorder);
}
.btn-primary-action:not(:disabled):hover::before,
.btn-primary-action:not(:disabled):focus-visible::before {
  background: linear-gradient(to bottom, hsl(187, 97%, 90%), hsl(175, 90%, 97%));
}
.theme-banning .btn-primary-action:not(:disabled):hover::before,
.theme-banning .btn-primary-action:not(:disabled):focus-visible::before {
  background: linear-gradient(to bottom, hsl(0, 96%, 90%), hsl(0, 88%, 97%));
}
.btn-primary-action:not(:disabled):active::before {
  background: var(--clrMainActionActive);
}
.theme-banning .btn-primary-action:not(:disabled):active::before {
  background: var(--clrRedActionActive);
}
.btn-primary-action span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 3.2rem;
  height: 100%;
  background: var(--clrMainActionBg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: box-shadow 0.2s ease;
}
.theme-banning .btn-primary-action span {
  background: var(--clrRedActionBg);
}
.btn-primary-action:not(:disabled):hover span,
.btn-primary-action:not(:disabled):focus-visible span {
  box-shadow: inset 0 -0.5rem 2rem 0.2rem var(--clrMainActionInnerGlow);
}
.theme-banning .btn-primary-action:not(:disabled):hover span,
.theme-banning .btn-primary-action:not(:disabled):focus-visible span {
  box-shadow: inset 0 -0.5rem 2rem 0.2rem var(--clrRedActionInnerGlow);
}
.btn-primary-action:not(:disabled):active span {
  box-shadow: none;
  background: var(--clrBg);
}
